@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

:root {
    --backgroundWhite: #FDFFFC;
    --backgroundBlack: #161513;
    --textWhite: #fff;
    --text: #1F2937;
    --textGray: rgb(158, 158, 158);
    --fontFamily: "Onest", sans-serif;
    --borderRadius: 13px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color .35s ease, color .35s ease,
              border-color .35s ease, box-shadow .35s ease,
              fill .35s ease, stroke .35s ease, filter .35s ease;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    flex-direction: column;
    font-family: var(--fontFamily);
}

.container {
    width: 100%;
    max-width: 56rem;
    height: auto;
    display: flex;
    margin: 0 auto;     
    flex: 1 0 auto;  
    flex-direction: column;
    border: 1px solid black;
}

.container header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    background-color: rgb(158, 158, 158);
}

.container header .container-logo {
    gap: 10px;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container header .container-logo svg {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.container header .container-logo a {
    color: var(--text);
    font-size: 20px;
    font-weight:700;
    text-align: start;
    text-decoration: none;
    transition: .3s ease;
}

/* Main */
.main {
    gap: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 100px 0px;
    border: 1px solid black;
}
.card {
    width: 229.2px;
    height: auto;
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    border-radius: 13px;
    background-color: rgba(0, 0, 0, 0.3);
}

.card figure {
  width: 100%;
  height: 220px;
  border: 1px solid black;
}

.card .info-card {
  width: 100%;
  height: auto;
  display: flex;
  padding: 15px;
  flex-direction: column;
}

.container-name {
  width: 100%;
  height: auto;
}

.container-name h2 {
  color: var(--text);
  font-size: 27px;
  font-weight: 800;
  text-align: start;
  margin: 0px 0px 7px;
  font-family: var(--fontFamily);
}

.container-name span {
  color: var(--text);
  font-size: 16px;
  font-weight: 600;
  text-align: start;
  font-family: var(--fontFamily);
}

.container-location {
  width: 100%;
  height: auto;
  margin: 0px 0px 10px;
  display: flex;
  flex-direction: column;
}

.container-location span {
  color: #9E9E9E;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
  margin: 0px 0px 10px;
  font-family: var(--fontFamily);
}

.container-location a {
  color: var(--text);
  font-size: 16px;
  font-weight: 600;
  text-align: start;
  text-decoration: none;
  transition: .3s ease;
  font-family: var(--fontFamily);
}

.container-seen {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.container-seen span {
  color: #9E9E9E;
  font-size: 16px;
  font-weight: 500;
  text-align: start;
  margin: 0px 0px 10px;
  font-family: var(--fontFamily);
}

.container-seen a {
  color: var(--text);
  font-size: 16px;
  font-weight: 600;
  text-align: start;
  text-decoration: none;
  transition: .3s ease;
  font-family: var(--fontFamily);
}